[submodule "subgraphs"]
	path = backend/subgraphs
	url = http://github.com/messari/subgraphs.git
[submodule "backend/subgraphs_custom/sporkdao-token"]
	path = backend/subgraphs_custom/sporkdao-token
	url = git@github.com:marissaposner/sporkdao-token-subgraph.git
